---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import Link from '~/components/ui/Link.astro';

const metadata = {
  title: 'BU Weather Station Project Page',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="SPR2024-SPR2025"
    actions={[
      {
        variant: 'primary',
        text: 'Visit Our Website',
        href: 'https://weather.jacobsimeone.net',
        target: '_blank',
      },
      {
        variant: 'secondary',
        text: 'Read our Docs',
        href: 'https://litemage.github.io/vip-weather-docs/',
        target: '_blank',
      },
    ]}
    image={{
      src: '~/assets/images/weather-station-hero.png',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span>BU Weather Station Project</span>
    </Fragment>

    <Fragment slot="subtitle">
      Weather data collection on <span class="text-accent">Bradley University's</span> campus. You can
      <Link href="/bu-vip-website/weather-station">read our blog</Link> too.
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    image={{
      src: '~/assets/images/ws-web-screenshot.png',
      alt: 'screenshot of a set of file folders on GitHub',
    }}
    items={[
      {
        title: 'Public API',
        description:
          "The Bradley Weather Station project hosts a public API where anyone can access weather data from Bradley University's campus",
        icon: 'tabler:api',
      },
      {
        title: 'Website',
        description: 'This project also exposes a public website that anyone can use to look at the weather data',
        icon: 'tabler:cloud',
      },
      {
        title: 'Scalable',
        description:
          'The weather station (although not currently implemented) has back-end support for collecting data from multiple stations',
        icon: 'tabler:crane',
      },
      {
        title: 'Open-Source',
        description: 'Code and hardware hosted publicly, for anyone to build',
        icon: 'tabler:brand-github',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Feature Overview</h3>
    </Fragment>
  </Content>

  <Content
    isReversed={true}
    items={[
      {
        title: 'Temperature',
        description:
          'The weather staiton uses a RTD and custom carrier board for a RTD-to-digital converter to measure temperature.',
        icon: 'tabler:temperature',
      },
      {
        title: 'Humidity',
        description: 'Relative humidity, as reported by our on-board environmental sensor',
        icon: 'tabler:droplet',
      },
      {
        title: 'Pressure',
        description: 'Can detect pressure, in kPa',
        icon: 'tabler:steam',
      },
      {
        title: 'Rain',
        description: 'The station can detect if water is present on a top sensor or not, indicating rain.',
        icon: 'tabler:cloud-rain',
      },
      {
        title: 'Light Intensity',
        description: 'The station can detect the intensity of light currently shining on the station.',
        icon: 'tabler:sun',
      },
    ]}
    image={{
      src: '~/assets/images/ws-data.png',
      alt: 'a red line on a graph',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Data Collected</h3>
    </Fragment>
  </Content>
</Layout>
